

<div class="ui text container">
  <h1 class="ui dividing header">Using Grids</h1>

  <h3 class="first">Container</h3>
  <p>A container is a fixed width element that wraps your site's content. It remains a constant size and uses <b>margin</b> to center. Containers are the simplest way to center page content inside a grid.</code>
  </p>
</div>
